:root, html, body {
  font-family: sans-serif;
  font-size: 14px;
}
h1 {
  font-size: 2.25rem;
  margin: 1rem 0.5rem;
}
.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.product {
  border: 1px solid #bbb;
  padding: .5rem;
  margin: 0;
  margin-left: .5rem;
  margin-top: .5rem;
  max-width: 300px;
  transition: box-shadow 0.25s ease-in;
}
.product:hover {
  box-shadow: 0 0 15px rgba(0,0,0,0.5);
}
.product__name {
  font-size: 1.7rem;
  line-height: 1.8rem;
  font-weight: 300;
  margin: 1rem 0 0.5rem;
}
.product__button {
  cursor: pointer;
  display: block;
  width: 100%;
  padding: .25rem .5rem;
}
.product__button svg {
  vertical-align: middle;
}
.product__description a {
  color: #12f;
  cursor: pointer;
}
.product__description a:hover {
  text-decoration: underline;
}
.products__search {
  width: calc(100% - 1rem);
  box-sizing: border-box;
  padding: 1rem;
  border: 1px solid #444;
  border-radius: 3px;
  margin: 1rem 0.5rem;
}
